/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Estra small devices */
@media (max-width: 576px) {
    #countdownCounter {
        display: none;
    }

    .table {
        font-size: 0.6rem;
      }
    
    .cards-container {
          min-height: 50em!important;
    }
    
    .v-cards-container{
        min-height: 90em!important;
    }

    iframe {
          max-width: 90%;
    }

    .emoji-flag{
        width: 20px;
    }

    .colab-cards-container > img {
        max-height: 150px;
    }

    .navbar-brand {
        display: inline-block;
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap;
        margin: 0 auto !important;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 577px) {
    #countdownCounter {
        display: none;
    }

    .cards-container {
        min-height: 45em!important;
    }

    .v-cards-container {
        min-height: 70em!important;
    }
    
    .emoji-flag{
        width: 30px;
      }

      
    .colab-cards-container > img {
        max-height: 150px;
    }

    .navbar-brand {
        display: inline-block;
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap;
        margin: 0 auto !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }

    #countdownCounter {
        display: none;
    }

    .cards-container{
        min-height: 40em;
    }

    .v-cards-container {
        min-height: 20em;
    }

    .emoji-flag{
        width: 30px;
      }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    #countdownCounter {
        display: inline-block;
    }

    .cards-container {
        min-height: 15em!important;
    }

    .v-cards-container {
        min-height: 37em!important;
    }
    
    .emoji-flag{
        width: 35px;
      }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .cards-container {
        min-height: 15em!important;
    }

    .v-cards-container {
        min-height: 37em!important;
    }

    .emoji-flag{
        width: 35px;
    }
}

